.contact-section {
  margin: 50px auto 0;
  padding-bottom: 50px;
}

.contact-container {
  width: calc(100% - 25px);
  margin: auto;
}

.contact-section h3 {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-flex h4 {
  font-weight: 500;
  margin: 20px 0 0;
  opacity: 0.6;
}

.contact-box {
  display: flex;
  flex-direction: column;
}

.contact-flex p {
  margin-top: 0px;
  margin-bottom: 0px;
}

a.contact-social {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  width: fit-content;
}

.contact-box h2 {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.contact-box h2>span {
  color: var(--accentColor);
}

.contact-box h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  gap: 10px;
  opacity: 0.5;
  margin: 10px 0 0;
}

/* Desktop Enhancements */
@media screen and (min-width: 901px) {
  .contact-section {
    margin-top: 100px;
    padding-bottom: 100px;
  }

  .contact-container {
    width: auto;
  }

  .contact-section h3 {
    font-size: 50px;
  }

  .contact-flex {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .contact-flex h4 {
    margin-top: 0;
  }

  .contact-flex p {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .contact-box h2 {
    font-size: 20px;
  }

  a.contact-social {
    font-size: 22px;
  }
}

@media screen and (min-width: 1601px) {
  .contact-section h3 {
    font-size: 60px;
  }

  .contact-box h2 {
    font-size: 23px;
  }

  a.contact-social {
    font-size: 25px;
  }
}