.cursor-main {
  --size: 0px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  pointer-events: none;
  z-index: 99;
  /* background-color: #4dff40; */
  /* box-shadow: 0px 0px 30px 0px rgb(77, 255, 64); */
  mix-blend-mode: difference;
  transition: top 0.3s ease-out, left 0.3s ease-out, width 0.3s ease-out,
    height 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-wand-svg {
  transform: rotate(-15deg) translate(5px, 5px);
  filter: drop-shadow(0px 0px 5px #4dff40);
  transition: 0.3s;
}

.cursor-icons {
  top: 10px;
  left: 10px;
  height: calc(var(--cursorH) - 20px);
  transition: all 0.5s ease-out, height 0.5s ease-in-out;
  background-color: #4dff40;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 0px rgb(77, 255, 64);
}

.cursor-icons .cursor-wand-svg {
  opacity: 0;
  transform: scale(0);
}

.cursor-disable {
  --size: 0px;
}

@media only screen and (min-width: 600px) {
  .cursor-main {
    --size: 50px;
  }

  .cursor-disable {
    --size: 0px;
  }
}