.icons-section {
  position: fixed;
  max-width: var(--cMaxWidth);
  width: var(--cWidth);
  bottom: 0;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
}

.social-icons {
  position: absolute;
  left: 0px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 999;
  padding: 10px;
}

.social-icons a {
  --siLeft: 50%;
  --siTop: 50%;
  position: absolute;
  left: var(--siLeft, 50%);
  top: var(--siTop, 50%);
  transform: translate(-50%, -50%);
  display: flex;
  font-size: 23px;
  will-change: left, top;
  transition: transform 0.3s ease-out, color 0.3s ease;
}

.social-icons a:hover {
  color: var(--accentColor);
}

.social-icons span {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
}

.resume-button {
  position: absolute;
  z-index: 99;
  display: flex;
  gap: 5px;
  bottom: 40px;
  right: 0;
  width: auto;
  text-wrap: nowrap;
  letter-spacing: 4px;
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  color: #5e5e5e;
  cursor: pointer;
  transition: 0.5s;
  transform-origin: left bottom;
  transform: translateX(100%) rotateZ(-90deg);
}

.resume-button:hover {
  color: #fff;
}

/* Tablet & Desktop Enhancements */
@media screen and (min-width: 768px) {
  .resume-button {
    transform: none;
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (min-width: 901px) {
  .social-icons {
    left: -20px;
    gap: 20px;
  }

  .social-icons span {
    width: 50px;
    height: 50px;
  }

  .social-icons a {
    font-size: 28px;
  }
}