@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  scroll-behavior: smooth;
  color-scheme: light dark;
  color: #eae5ec;
  background-color: var(--backgroundColor);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  --accentColor: #4dff40;
  --backgroundColor: #0b080c;
  --vh: 100vh;
  --vh: 100svh;
  --cWidth: calc(100% - 30px);
  --cMaxWidth: 1920px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geist", sans-serif;
}

body {
  margin: 0;
  height: auto;
  background-color: #000;
  flex-grow: 1;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accentColor);
}

main {
  opacity: 1;
  transition: 0.3s;
}

.main-active {
  opacity: 0;
  animation: fadeIn 1s 1 forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.container-main {
  width: 100%;
  margin: auto;
  position: relative;
}

.container1 {
  width: var(--cWidth);
  height: var(--vh);
  margin: auto;
  position: relative;
}

.split-line,
.split-h2 {
  overflow: hidden;
}

.split-h2 {
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.techstack {
  width: 100%;
  position: relative;
  height: clamp(800px, 100vh, 1200px);
  margin: 50px auto -100px;
}

.tech-canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.techstack h2 {
  font-size: 40px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 120px;
  left: 0;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2;
  pointer-events: none;
}

/* Desktop Enhancements */
@media screen and (min-width: 768px) {
  :root {
    --cWidth: 94%;
  }
}

@media screen and (min-width: 901px) {
  .techstack h2 {
    font-size: 80px;
  }
}

@media screen and (min-width: 1025px) {
  body {
    overflow: hidden;
    /* Only hide scroll for smoother/custom scroll on desktop if applicable */
  }
}